{% extends 'core/base.html' %}

{% block titulo %}Página no encontrada{% endblock titulo %}


{% if user.is_authenticated %}
    {% block contenido %}
        <h2>¡Vaya, parece que tenemos una falla en nuestro servidor!</h2>
    {% endblock contenido %}
{% else %}
    {% block index %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h2>¡Vaya, parece que tenemos una falla en nuestro servidor!</h2>
                <p>Rgresar al <a href="{% url 'panel' %}">panel</a></p>
            </div>
        </div>
    </div>
    {% endblock index %}
{% endif %}